.logo{
  width: 16.0rem;
  height: 7.95rem;
  margin-bottom: 1rem;
  background-image: url(../img/aboutUs.png);
  background-size:16.0rem 7.95rem;
  overflow: hidden;
}
.main{
  margin:0 0.75rem;
  min-height: 2rem;
  font-size: 0.7rem;
  color: #666666;
  line-height: 1.0rem;
  text-align: justify;
}
.Introduction{
  height: 1.6rem;
  border-left:0.075rem solid  #FF560D;
  padding-left: 0.35rem;
  margin-bottom:0.52rem; 
}
.Introduction p:nth-of-type(1){
  font-size: 0.75rem;
  color: #444444;
  line-height: 0.75rem;
  font-weight:700 ;
}
.Introduction p:nth-of-type(2){
  font-size: 0.425rem;
  color:#C1C1C1; 
  line-height: 1.2rem;
}
.main-p1{
  border-top:0.025rem solid #E2E3E3;  
  padding:0.55rem 0 ;
  /*letter-spacing:0.075rem ;*/
}
.main-p2{
  padding: 0.5rem 0 0.8rem 0;
  /*letter-spacing:0.055rem ;*/
}
.main-p3{
  border-top:0.025rem solid #E2E3E3;  
  padding:0.55rem 0 ;
  color:#444444 ;
  margin-bottom:0.5rem;
  /*letter-spacing:0.053rem ;*/
}